---
import { routes } from '../../lib/routes';

const destination = routes.serverCommandCenter;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=${destination}`} />
    <link rel="canonical" href={destination} />
    <title>Redirecting</title>
  </head>
  <body>
    <p><a href={destination}>Continue to the Server Command Center page</a></p>
  </body>
</html>
